
body {
    font-family: Times, serif;
    font-size: 15px;
    background-color: #ffffff;
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f0e5e1;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 50px;
    color: #ff701e;
    margin: 0px;
}
h2 {
    font-size: 40px;
    color: #2a71d1;
    margin: 0px;
}
h3 {
    font-size: 40px;
    color: #2a71d1;
    margin: -20px;
}
.border-with-text {
    display: flex;
    border-top: 2px solid #2a71d1;
    border-bottom: 2px solid #2a71d1;
    justify-content: center;
    align-items: center;
    height: 90px;
}
.date-time{
    margin-right: 50px;
}
.adress{
    border-left: 2px solid #2a71d1;
    padding: 15px;
}
.footer {
    margin-top: 30px;
    font-size: 12px;
    padding-top: 0;
}
